<div class="section">
  <div class="grid grid-cols-2 gap-4 border-2 border-purple-500">
    <%# COLUMN TASK %>
    <div class="col-span-1">
    <h2 class="p-2 underline text-center">
      Task
    </h2>
    <% @todos.each do |todo_item| %>
      <div class="p-4">
        <%= todo_item.name %>
      </div>
    <% end %>
    </div>
    <%# COLUMN DESCRIPTION %>
    <div class="col-span-1">
    <h2 class="p-2 underline text-center">
      Description
    </h2>
    <% @todos.each do |todo_item| %>
      <div class="bg-gray-200 p-4">
        <%= todo_item.description %>
      </div>
    <% end %>
    </div>
    </div>
  </div>
</section>
